<%- include('header') %>
<h2>This is a note</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit animi consectetur dicta soluta nobis nostrum! Accusamus suscipit magnam in voluptates, nam vero consectetur provident placeat reprehenderit modi. Voluptatum, consectetur!</p>
<%- include('footer') %>
