<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1> <%= kindOfDay %> </h1>
    <form action="/" method="post">
        <ul>
            <li>Buy Food</li>
            <li>Drink Coffee</li>
            <li>Eat food</li>
            <% for (var i = 0; i < item.length; i++){ %>
                <li><%= item[i] %></li>
            <% } %>
            
        </ul>
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
    </form>
</body>
</html>